<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mariadb://localhost:3306/ecommerce_inf008
        </property>
        <property name="hibernate.connection.username">
            inf008
        </property>
        <property name="hibernate.connection.password">
            inf008
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MariaDBDialect
        </property>
        <property name="hibernate.show_sql">
            true
        </property>
        <property name="hibernate.format_sql">
            true
        </property>

        <mapping class="br.edu.ifba.inf008.Customer"/>
        <mapping class="br.edu.ifba.inf008.domain.Product"/>
        <mapping class="br.edu.ifba.inf008.domain.StockMovement"/>
        <mapping class="br.edu.ifba.inf008.domain.Cart"/>
        <mapping class="br.edu.ifba.inf008.domain.CartItem"/>
        <mapping class="br.edu.ifba.inf008.domain.ShippingMethod"/>
        <mapping class="br.edu.ifba.inf008.domain.Discount"/>
        <mapping class="br.edu.ifba.inf008.domain.Order"/>
        <mapping class="br.edu.ifba.inf008.domain.OrderItem"/>
        <mapping class="br.edu.ifba.inf008.domain.OrderDiscount"/>
        <mapping class="br.edu.ifba.inf008.domain.Payment"/>
    </session-factory>
</hibernate-configuration>